/* Styles communs pour les boutons */
.button-image {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.button-text {
  font-size: 16px;
  color: #333;
}

/* Styles pour les liens (navigation) */
.link-button {
  display: flex;
  align-items: center;
  text-decoration: none;
  background-color: #f0f0f0;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.link-button:hover {
  background-color: #ddd;
}

/* Styles pour les boutons d'action */
.action-button {
  display: flex;
  align-items: center;
  background-color: #e0e0e0;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  border: none;
  cursor: pointer;
}

.action-button:hover {
  background-color: #ccc;
}
